body { 
	font-family: Arial, sans-serif;
	color: #fafafa;
	background-color: #444444;
	text-shadow: 1px 1px 1px #222;
  padding: 10px 20px 0px 20px;
}

div#title {
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 20px;
}

a {
	color: #99ff88;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  border: 1px solid #222222;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 20px;
}

.red {
  color: #EC7600;
}

.green {
  color: #99ff88;
}

th, td {
  border: 1px solid #222222;
  padding: 8px;
}

thead {
  font-weight: bold;
}

.tag {
  text-align: left;
}

.table-striped tbody>tr:nth-child(odd)>td,.table-striped tbody>tr:nth-child(odd)>th{background-color:#3b3b3b}
