<html>
    <head>
        <title>${title} Power Ranking</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="template/sticky-footer.css" rel="stylesheet">
    </head>
    <body>
        <main role="main" class="container">

        <h1>${title} Power Ranking</h1>
        <p class="lead">Last Updated: ${date}</p>

        <table class='table table-striped'>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tag</th>
                    <th>Elo</th>
                </tr>
            </thead>

            % for i, player in enumerate(players, 1):
            <tr>
                <td>${i}</td>
                <td>${player.tag}</td>
                <td>${'{:.2f}'.format(player.elo())}</td>
            </tr>
            %endfor
        </table>
        </main>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">Source for how rankings are calculated can be found <a href="https://github.com/mtimkovich/maxpr">here</a>.</span>
            </div>
        </footer>

    </body>
</html>
